[submodule "plugins/appFlowerPlugin"]
	path = plugins/appFlowerPlugin
	url = git@github.com:appflower/appflower_engine.git
[submodule "plugins/appFlowerStudioPlugin"]
	path = plugins/appFlowerStudioPlugin
	url = git@github.com:appflower/appflower_studio.git
[submodule "plugins/sfPropelSqlDiffPlugin"]
	path = plugins/sfPropelSqlDiffPlugin
	url = git@github.com:appflower/sfPropelSqlDiffPlugin.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/appflower/symfony-1.4.git
[submodule "plugins/sfPropel15Plugin"]
	path = plugins/sfPropel15Plugin
	url = git://github.com/appflower/sfPropel15Plugin.git
[submodule "plugins/afGuardPlugin"]
	path = plugins/afGuardPlugin
	url = git@github.com:appflower/afGuardPlugin.git
