/*-----------------------------------------------------------------
Forms StyleSheet 
Version:	1.0
Author: 	Rasmus Schau-Seidler
Email: 		rs@zornig.dk
website:	www.zornig.dk
-----------------------------------------------------------------*/

input {}
button {}
textarea {}
option {}
select {}
